@font-face {
  font-family: 'ic';
  src:
    url('fonts/ic.ttf?wt4jsa') format('truetype'),
    url('fonts/ic.woff?wt4jsa') format('woff'),
    url('fonts/ic.svg?wt4jsa#ic') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ic' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i_car:before {
  content: "\e905";
}
.i_setting:before {
  content: "\e023";
}
.i_check:before {
  content: "\e042";
}
.i_cross:before {
  content: "\e043";
}
.i_trash:before {
  content: "\e109";
}
.i_download:before {
  content: "\e122";
}
.i_qlist:before {
  content: "\e02f";
}
.i_pause:before {
  content: "\e036";
}
.i_play:before {
  content: "\e039";
}
.i_remove_point:before {
  content: "\e15d";
}
.i_control_point:before {
  content: "\e3ba";
}
.i_apps:before {
  content: "\e5c3";
}
.i_event_busy:before {
  content: "\e615";
}
.i_star:before {
  content: "\e838";
}
.i_done_all:before {
  content: "\e877";
}
.i_fav_h:before {
  content: "\e87d";
}
.i_fav:before {
  content: "\e87e";
}
.i_lock:before {
  content: "\e899";
}
.i_light:before {
  content: "\e913";
}
.i_good:before {
  content: "\e904";
}
.i_order:before {
  content: "\e906";
}
.i_news:before {
  content: "\e90a";
}
.i_major:before {
  content: "\e90d";
}
.i_call:before {
  content: "\e90e";
}
.i_mobile:before {
  content: "\e910";
}
.i_video:before {
  content: "\e911";
}
.i_volume:before {
  content: "\e912";
}
.i_down:before {
  content: "\e900";
}
.i_left:before {
  content: "\e901";
}
.i_right:before {
  content: "\e902";
}
.i_up:before {
  content: "\e903";
}
.i_book:before {
  content: "\e907";
}

