<!DOCTYPE html>
<html>
<head>
<!--#include virtual="/include/head.html"-->
	<title>设置密码</title>
</head>
<body ng-app="baseApp">
<div ng-controller="password" class="ng-init">
	<div class="panel content">
		<p style="text-indent: 0">该密码用于中科建安网校（<a href="http://www.zkjan.com/">www.zkjan.com</a>）及<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.sjz.hsh.examquestionbanks">做题宝app</a>登录，请妥善保管！</p>
		<p style="text-indent: 6em">用户名：绑定的手机号</p>
        <p style="text-indent: 6em">密&emsp;码：该密码</p>
	</div>
	<form class="form" ng-submit="sub()" name="user" novalidate autocomplete="off">
		<ul class="panel">
			<li class="li">
				<label for="pw" class="f_i"><big class="red">*</big>密&emsp;&emsp;码：</label>
				<input id="pw" type="password" maxlength="18" ng-minlength="4" class="txt" ng-model="pw" name="pw" ng-pattern="/^[0-9a-zA-Z\_]+$/" required placeholder="请输入4-18位（数字，字母，下划线）"></li>
			<li class="li red" ng-show="user.pw.$dirty&&user.pw.$invalid">请输入4-18位（数字，字母，下划线）</li>
			<li class="li">
				<label for="rpw" class="f_i"><big class="red">*</big>确认密码：</label>
				<input id="rpw" type="password" class="txt" vconfirm="pw" required ng-model="rpw" name="rpw" placeholder="请再次输入密码"></li>
			<li class="li red" ng-show="user.rpw.$dirty&&user.rpw.$invalid">两次密码输入不一致</li>
		</ul>
		<label class="bg_red b_btn"><button type="submit" ng-disabled="user.$invalid">提交</button></label>
	</form>
	<div ng-show="errMsg" class="r_panel red" style="text-align: center;font-size: 14px;" ng-bind="errMsg">
	</div>
</div>
<!--#include virtual="/include/footer.html"-->
</body>
</html>