<!DOCTYPE html>
<html>
<head>
<!--#include virtual="/include/head.html"-->
	<title>在线题库</title>
</head>
<body ng-app="baseApp">
<!--#include virtual="/include/header.html"-->
<div ng-controller="qlist" class="ng-init">
	<!--#include virtual="/include/nav.html"-->
	<ul class="ol_qlist qlist panel" ng-if="rt.type==nlist[0].type&&list.length">
		<li class="li" ng-repeat="c in list" ng-init="c.p=(c.zdnums/c.yznums*100).toFixed(2)" ng-class="{'on':c.showL}">
			<div ng-click="getS(c)">
				<i ng-show="!c.showL" class="i_control_point gray"></i>
				<i ng-show="c.showL" class="i_remove_point blue"></i>
				{{c.chapter_name}} <br>
				<span class="gray">答题进度：<i class="i_bar"><u ng-class="{'a':c.p>0.84,'b':c.p>0.69,'c':c.p>0.49}" ng-style="{width:c.yznums/c.nums*100+'%'}"></u></i>{{c.yznums||0}}/{{c.nums}}</span>
				<span class="gray" ng-if="c.yznums">正确率：{{c.p}}%</span>
				<a ng-if="user.info.mid==11" ng-href="<!--#echo var="wc1"-->study/test.html?cid={{c.id}}&type={{rt.type}}&name={{c.chapter_name}}" class="btn">做题</a>
			</div>
			<ol ng-if="c.sublist.length">
				<hr>
				<li class="li" ng-repeat="s in c.sublist" ng-init="s.p=s.zdnums/s.yznums">
					<i class="i_circle"></i>
					{{s.section_name | slice : 18}}
					<p ng-if="s.nums"><span class="gray">答题进度：<i class="i_bar"><u ng-class="{'a':s.p>0.84,'b':s.p>0.69,'c':s.p>0.49}" ng-style="{width:s.yznums/s.nums*100+'%'}"></u></i>{{s.yznums||0}}/{{s.nums}}</span>
					<span class="gray" ng-if="s.yznums">正确率：{{c.p}}</span>
					<a ng-href="<!--#echo var="wc1"-->study/test.html?type={{rt.type}}&sid={{s.id}}&name={{s.chapter_name}}-{{s.section_name}}" class="btn">做题</a>
					</p>
				</li>
			</ol>
		</li>
	</ul>
	<ul class="qlist panel" ng-if="(rt.type==nlist[1].type||rt.type==nlist[2].type)&&list.length">
		<li class="li" ng-repeat="s in list">
			<a class="btn" ng-href="<!--#echo var="wc1"-->study/test.html?type={{rt.type}}&sid={{s.id}}&name={{s.title}}">做题</a>
			{{s.title | slice : 20}} <br>
			<span class="gray">题量：{{s.nums}}</span>
			<span class="gray">时长：{{s.times}} 分钟</span>
			<span class="gray">已有 {{s.write_num}} 人参考</span>
		</li>
	</ul>
	<!--#include virtual="/include/pagination.html"-->
	<div class="none gray" ng-show="!loading&&!list.length">
		很抱歉，暂无相关内容
	</div>
</div>
<script src="<!--#echo var="wc1"-->js/zepto.js" type="text/javascript"></script>
<!--#include virtual="/include/footer.html"-->
</body>
</html>