<header ng-controller="header" class="ng-init">
	<h1 ng-if="user.title"><i class="i_left" ng-click="back()"></i>{{user.title | slice : 16}}</h1>
	<h1 ng-if="!user.title" ng-click="user.selectC()">{{user.info.course}} <i class="i_down"></i></h1>
	<div class="major" ng-show="user.sc">
		<div class="major_t panel">
			<h2>{{user.info.major}}</h2>
			<label class="blue" ng-click="user.selectM()" ng-show="!user.sm"><i class="i_left"></i>修改专业</label>
		</div>
		<div class="panel" ng-show="!user.sm">
			<p class="red">请选择您要学习的科目</p>
			<label class="b_btn" ng-repeat="c in user.clist" ng-click="user.chooseC(c.id,c.course_name)" ng-class="{'bg_blue':user.info.cid==c.id}">{{c.course_name}}</label>
		</div>
		<div class="panel" ng-show="user.sm">
			<p class="red">请选择您要学习的专业</p>
			<label class="b_btn" ng-repeat="m in user.mlist" ng-click="user.chooseM(m.id,m.major_name)" ng-class="{'bg_blue':user.info.mid==m.id}">{{m.major_name}}</label>
		</div>
	</div>
</header>