<header ng-controller="header" class="ng-init">
	<h1 ng-if="user.title" ng-click="back()" class="title"><i class="i_left"></i>{{user.title | slice : 16}}</h1>
	<h1 ng-if="!user.title" ng-click="user.selectC()">{{user.info.course}} <i class="i_down"></i></h1>
	<img ng-src="{{user.info.logo||'<!--#echo var="wc1"-->images/avatar.png'}}" class="avatar" ng-click="user.su=true">
	<div class="user" ng-show="user.su">
		<div class="user_bg" ng-click="user.su=false"></div>
		<div class="user_r">
			<a class="user_t" href="<!--#echo var="wc1"-->user/info.html">
				<img class="avatar" ng-src="{{user.info.logo||'<!--#echo var="wc1"-->images/avatar.png'}}">
				<h2>{{user.info.nickname}}</h2>
				<i class="i_mobile"></i>{{user.info.phone}}
			</a>
			<div class="panel">
				<a href="<!--#echo var="wc1"-->user/question.html"><i class="i_event_busy"></i>错题记录</a>
				<a href="<!--#echo var="wc1"-->user/fav.html"><i class="i_fav"></i>我的收藏</a>
				<a href="<!--#echo var="wc1"-->question/list.html"><i class="i_qlist"></i>进入题库</a>
			</div>
			<div class="panel">
				<a href="<!--#echo var="wc1"-->user/car.html"><i class="i_car"></i>查看购物车</a>
				<a href="<!--#echo var="wc1"-->user/order.html"><i class="i_order"></i>我的订单</a>
				<a href="<!--#echo var="wc1"-->user/class.html"><i class="i_book"></i>我的课程</a>
				<a href="<!--#echo var="wc1"-->class/list.html"><i class="i_video"></i>选购课程</a>
			</div>
			<div class="panel">
				<a href="<!--#echo var="wc1"-->user/news.html"><i class="i_news"></i>消息</a>
				<a ng-click="user.selectM()"><i class="i_major"></i>考试科目</a>
				<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.sjz.hsh.examquestionbanks"><i class="i_download"></i>下载做题宝APP</a>
			</div>
		</div>
	</div>
	<div class="major" ng-show="user.sc">
		<div class="major_t panel">
			<h2>{{user.info.major}}</h2>
			<label class="blue" ng-click="user.selectM()" ng-show="!user.sm"><i class="i_left"></i>修改专业</label>
		</div>
		<div class="panel" ng-show="!user.sm">
			<p class="red">请选择您要学习的科目</p>
			<label class="b_btn" ng-repeat="c in user.clist" ng-click="user.chooseC(c.id,c.course_name)" ng-class="{'blue':user.info.cid==c.id}">{{c.course_name}}</label>
		</div>
		<div class="panel" ng-show="user.sm">
			<p class="red">请选择您要学习的专业</p>
			<label class="b_btn" ng-repeat="m in user.mlist" ng-click="user.chooseM(m.id,m.major_name)" ng-class="{'blue':user.info.mid==m.id}">{{m.major_name}}</label>
		</div>
	</div>
</header>