<!DOCTYPE html>
<html>
<head>
<!--#include virtual="/include/head.html"-->
	<title>选班报名</title>
</head>
<body ng-app="baseApp">
<!--#include virtual="/include/header.html"-->
<!--#include virtual="/include/banner.html"-->
<div ng-controller="clist" class="ng-init">
	<!--#include virtual="/include/nav.html"-->
	<div class="dlist panel" ng-if="rt.type==nlist[0].type&&list.length">
		<a class="li" ng-repeat="s in list" ng-href="<!--#echo var="wc1"-->class/item.html?mid={{s.major_id}}&cid={{s.course_id}}&gid={{s.id}}">
			<img ng-src="{{s.imgurl}}">
			{{s.name|slice:14}} <br>
			<span class="gray">{{s.content|slice:18}}</span><br>
			<span class="gray">{{s.vnums||0}}课时</span><b class="orange">￥{{s.cmoney}}</b>
		</a>
	</div>
	<!--#include virtual="/include/pagination.html"-->
	<div class="none gray" ng-show="!loading&&!list.length">
		很抱歉，暂无相关内容
	</div>
</div>
<script src="<!--#echo var="wc1"-->js/zepto.js" type="text/javascript"></script>
<!--#include virtual="/include/footer.html"-->
</body>
</html>